.powered-by {
    color: #333;

    a {
        color: #99b6b6;
        
        &:hover {
            color: #b8cece;
        }
    }
}

footer {
    .email,
    .github,
    .linkedin {
        svg {
            width: 35px;
            height: 35px;

            &:hover {
                filter: drop-shadow(0px 0px 2px #128d8a);
            }
        }
    }

    .email svg {
        stroke: #1ac9c6;
    }
    .github,
    .linkedin {
        fill: #1ac9c6;
    }
}